# Next Auth
NEXTAUTH_SECRET = your-secret
NEXTAUTH_URL = your-next-auth-url

# Google Provider
GOOGLE_CLIENT_ID = your-client-id
GOOGLE_CLIENT_SECRET = your-client-secret

# Google Analytics
NEXT_PUBLIC_GTM_ID = your-gtm-id
NEXT_PUBLIC_GA_MEASUREMENT_ID = your-ga-measurement-id

# Backend API
NEXT_PUBLIC_CKRET_CONNECT_URL = your-backend-url

# URL
NEXT_PUBLIC_CKRET_URL = your-frontend-url
NEXT_PUBLIC_DEVELOPER_PORTFOLIO_URL = your-portfolio-url
NEXT_PUBLIC_FEEDBACK_FORM_URL = your-feedback-form-url
NEXT_PUBLIC_SUPPORT_EMAIL = your-support-email

# Others
NEXT_PUBLIC_OCCASION_GREETINGS = your-occasion-greetings
